@import "tailwindcss";

:root {
  --background: #000000; /* Force black for movie site feel */
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Base Body Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
  /* Prevent horizontal scroll */
  overflow-x: hidden;
  width: 100%;
  
  /* Handle mobile safe areas (Notch and Home Bar) */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

/* Optional: Custom scrollbar for a clean look */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}